@using Car_Inspection.EndPoint.Razor.Pages.CRUD
@model UserCRUDModel;

<div class="offcanvas offcanvas-end" tabindex="-1" id="createUserOffcanvas" aria-labelledby="createUserOffcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="createUserOffcanvasLabel">ایجاد کاربر</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body mx-0 flex-grow-0">
    <form method="post" id="createUserForm">
      <div class="mb-3">
        <label for="NewUser_User" class="form-label">نام کاربری</label>
        <input asp-for="NewUser.UserName" class="form-control ltr" id="NewUser_User" placeholder="John Doe"
          aria-label="John Doe" />
      </div>
      <div class="mb-3">
        <label for="NewUser_Email" class="form-label">ایمیل</label>
        <input asp-for="NewUser.Email" class="form-control ltr" id="NewUser_Email" placeholder="john.doe@example.com"
          aria-label="john.doe@example.com">
      </div>
      <div class="mb-3">
        <label for="NewUser_ContactNumber" class="form-label">تماس</label>
        <input asp-for="NewUser.ContactNumber" class="form-control phone-mask ltr" id="NewUser_ContactNumber"
          placeholder="+1 (609) 988-44-11" aria-label="+1 (609) 988-44-11" />
      </div>
      <div class="mb-3">
        <label for="NewUser_SelectedRole" class="form-label">انتخاب نقش</label>
        <select asp-for="NewUser.SelectedRole" asp-items="Model.AvailableRolesSelectList" class="form-select"
          id="NewUser_SelectedRole">
          <option value="">انتخاب نقش</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="NewUser_SelectedPlan" class="form-label">انتخاب پلن</label>
        <select asp-for="NewUser.SelectedPlan" asp-items="Model.AvailablePlansSelectList" class="form-select"
          id="NewUser_SelectedPlan">
          <option value="">انتخاب پلن</option>
        </select>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" asp-for="NewUser.IsVerified" class="form-check-input" id="NewUser_IsVerified" />
        <label class="form-check-label" for="NewUser_IsVerified">وضعیت</label>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary me-3">ثبت اطلاعات</button>
          <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">بازگشت</button>
        </div>
      </div>
    </form>
  </div>
</div>
