@page
@using Car_Inspection.EndPoint.Razor.Pages.Tables.DataTables
@model BasicDataTablesModel
@{
    ViewData["Title"] = "جداول داده‌ای - پایه";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/flatpickr/flatpickr.dist.css" />
    <!-- Row Group CSS -->
    <link rel="stylesheet" href="~/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.dist.css">
    <!-- Form Validation -->
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/i18n/fa.dist.js"></script>
    <!-- Flat Picker -->
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/jdate/jdate.min.dist.js"></script>
    <script src="~/vendor/libs/flatpickr/flatpickr-jdate.dist.js"></script>
    <script src="~/vendor/libs/flatpickr/l10n/fa.dist.js"></script>
    <!-- Form Validation -->
    <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
}

@section PageScripts {
    <script src="~/js/tables-datatables-basic.dist.js"></script>
}

@* ************** Content ************** *@


<!-- DataTable with Buttons -->
<div class="card">
    <div class="card-datatable table-responsive pt-0">
        <table class="datatables-basic table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>شناسه</th>
                    <th>نام</th>
                    <th>ایمیل</th>
                    <th>تاریخ</th>
                    <th>حقوق</th>
                    <th>وضعیت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!-- Modal to add new record -->
<div class="offcanvas offcanvas-end" id="add-new-record">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel">رکورد جدید</h5>
        <button aria-label="بستن" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
        <form class="add-new-record pt-0 row g-2" id="form-add-new-record" onsubmit="return false">
            <div class="col-sm-12">
                <label class="form-label" for="basicFullname">نام و نام خانوادگی</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text" id="basicFullname2">
                        <i class="ti ti-user"></i>
                    </span>
                    <input aria-describedby="basicFullname2" aria-label="نـوید" class="form-control dt-full-name" id="basicFullname" name="basicFullname" placeholder="نـوید" type="text" />
                </div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" for="basicPost">پست</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text" id="basicPost2">
                        <i class="ti ti-briefcase"></i>
                    </span>
                    <input aria-describedby="basicPost2" aria-label="توسعه دهنده وب" class="form-control dt-post" id="basicPost" name="basicPost" placeholder="توسعه دهنده وب" type="text" />
                </div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" for="basicEmail">ایمیل</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text">
                        <i class="ti ti-mail"></i>
                    </span>
                    <input aria-label="john.doe&#64;example.com" class="form-control dt-email" id="basicEmail" name="basicEmail" placeholder="john.doe&#64;example.com" type="text" />
                </div>
                <div class="form-text">می توانید از حروف، اعداد و نقطه استفاده کنید</div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" for="basicDate">تاریخ عضویت</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text" id="basicDate2">
                        <i class="ti ti-calendar"></i>
                    </span>
                    <input aria-describedby="basicDate2" aria-label="MM/DD/YYYY" class="form-control dt-date" id="basicDate" name="basicDate" placeholder="MM/DD/YYYY" type="text" />
                </div>
            </div>
            <div class="col-sm-12">
                <label class="form-label" for="basicSalary">حقوق</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text" id="basicSalary2">ءتء</span>
                    <input aria-describedby="basicSalary2" aria-label="12000" class="form-control dt-salary" id="basicSalary" name="basicSalary" placeholder="12000" type="number" />
                </div>
            </div>
            <div class="col-sm-12">
                <button class="btn btn-primary data-submit me-sm-3 me-1" type="submit">ارسال</button>
                <button class="btn btn-outline-secondary" data-bs-dismiss="offcanvas" type="reset">لغو</button>
            </div>
        </form>
    </div>
</div>
<!--/ DataTable with Buttons -->

