@page
@model RegisterModel
@{

    Layout = "Layouts/_BlankLayout";

    ViewData["Title"] = "صفحات - ثبت نام";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

@section PageScripts {
    <script src="~/js/pages-auth.dist.js"></script>
}
@* ************** Content ************** *@

<div class="authentication-wrapper authentication-cover authentication-bg">
    <div class="authentication-inner row">

        <!-- /Left Text -->
        <div class="d-none d-lg-flex col-lg-7 p-0">
            <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
                <img src="~/img/illustrations/auth-register-illustration-light.png" alt="auth-register-cover" class="img-fluid my-5 auth-illustration" data-app-light-img="illustrations/auth-register-illustration-light.png" data-app-dark-img="illustrations/auth-register-illustration-dark.png">

                <img src="~/img/illustrations/bg-shape-image-light.png" alt="auth-register-cover" class="platform-bg" data-app-light-img="illustrations/bg-shape-image-light.png" data-app-dark-img="illustrations/bg-shape-image-dark.png">
            </div>
        </div>
        <!-- /Left Text -->
        <!-- Create -->
        <div class="d-flex col-12 col-lg-5 align-items-center p-sm-5 p-4">
            <div class="w-px-400 mx-auto">
                <!-- Logo -->
                <div class="app-brand mb-4">
                    <a href="/" class="app-brand-link gap-2">
                        <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
                    </a>
                </div>
                <!-- /Logo -->
                <h3 class="mb-1">شروع همه چی از اینجا 🚀</h3>
                <p class="mb-4">مدیریت برنامه خود را آسان و سرگرم کننده کنید!</p>

                <form id="formAuthentication" class="mb-3" action="~/" method="GET">
                    <div class="mb-3">
                        <label class="form-label" for="username">نام کاربری</label>
                        <input autofocus class="form-control" id="username" name="username" placeholder="نام کاربری خود را وارد کنید" type="text" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email">ایمیل</label>
                        <input class="form-control" id="email" name="email" placeholder="ایمیل خود را وارد کنید" type="text" />
                    </div>
                    <div class="mb-3 form-password-toggle">
                        <label class="form-label" for="password">کلمه عبور</label>
                        <div class="input-group input-group-merge">
                            <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                            <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms">
                            <label class="form-check-label" for="terms-conditions">
                                من با سیاست
                                <a href="javascript:void(0);">حفظ حریم خصوصی و شرایط</a>
                                موافقت می کنم
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-primary d-grid w-100">ثبت نام</button>

                </form>

                <p class="text-center">
                    <span>در حال حاضر یک حساب کاربری دارید؟</span>
                    <a href="/Auth/Login/Cover">
                        <span>وارد شوید</span>
                    </a>
                </p>

                <div class="divider my-4">
                    <div class="divider-text">یا</div>
                </div>

                <div class="d-flex justify-content-center">
                    <a href="javascript:;" class="btn btn-icon btn-label-facebook me-3">
                        <i class="tf-icons fa-brands fa-facebook-f fs-5"></i>
                    </a>

                    <a href="javascript:;" class="btn btn-icon btn-label-google-plus me-3">
                        <i class="tf-icons fa-brands fa-google fs-5"></i>
                    </a>

                    <a href="javascript:;" class="btn btn-icon btn-label-twitter">
                        <i class="tf-icons fa-brands fa-twitter fs-5"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- /Create -->
    </div>
</div>

