@page
@model AppointmentManagerModel
@{
    Layout = "Layouts/_FrontLayout";
    ViewData["Title"] = "صفحات اصلی";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/nouislider/nouislider.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/swiper/swiper.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/bs-stepper/bs-stepper.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/bootstrap-select/bootstrap-select.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css" />
}
@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/front-page-landing.dist.css" />
}
@section VendorScripts {
    <script src="~/vendor/libs/nouislider/nouislider.dist.js"></script>
    <script src="~/vendor/libs/swiper/swiper.dist.js"></script>
    <script src="~/vendor/libs/bs-stepper/bs-stepper.dist.js"></script>
    <script src="~/vendor/libs/bootstrap-select/bootstrap-select.dist.js"></script>
    <script src="~/vendor/libs/bootstrap-select/i18n/defaults-fa_IR.dist.js"></script>
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
    <script src="~/vendor/libs/select2/i18n/fa.dist.js"></script>
}
@section PageScripts {
    @* <script src="~/js/front-page-landing.dist.js"></script> *@
    <script src="~/js/form-wizard-icons.dist.js"></script>
}















@* ************** Content ************** *@
<div data-bs-spy="scroll" class="scrollspy-example">
    <!-- Hero: Start -->
    <section id="hero-animation">
        <div id="landingHero" class="section-py landing-hero position-relative">
            <div class="container">
                <div class="hero-text-box text-center">
                    <h1 class="text-primary hero-title display-6 fw-bold ">
                        ثبت نوبت معاینه فنی خودرو
                    </h1>
                    <h2 class="hero-sub-title h6 mb-4 mt-2 pb-1 lh-2">
                        با بهترین خدمات و کیفیت
                        <br class="d-none d-lg-block" />
                        همراه با گارانتی ، پشتیبانی و شخصی سازی آسان
                    </h2>
                    <div class="landing-hero-btn d-inline-block position-relative">
                        <span class="hero-btn-item position-absolute d-none d-md-flex text-heading">
                            فرصت استثناییءء
                            <img alt="پیکان انجمن" class="scaleX-n1-rtl" src="~/img/front-pages/icons/Join-community-arrow.png" />
                        </span>
                        <a class="btn btn-primary btn-lg" href="#landingPricing">خـرید از پشمکی</a>
                    </div>
                </div>
            </div>
        </div>



        @* form wizard *@
        <div class="col-12 mb-4">

            <div class="bs-stepper wizard-icons wizard-icons-example mt-2">
                <div class="bs-stepper-header">
                    <div class="step active" data-target="#account-details">
                        <button class="step-trigger" type="button" aria-selected="true">
                            <span class="bs-stepper-icon">
                                <svg viewBox="0 0 54 54">
                                    <use xlink:href="/svg/icons/form-wizard-account.svg#wizardAccount"></use>
                                </svg>
                            </span>
                            <span class="bs-stepper-label">اطلاعات فردی</span>
                        </button>
                    </div>
                    <div class="line">
                        <i class="ti ti-chevron-right"></i>
                    </div>
                    <div class="step" data-target="#personal-info">
                        <button class="step-trigger" type="button" aria-selected="false">
                            <span class="bs-stepper-icon">
                                <svg viewBox="0 0 58 54">
                                    <use xlink:href="/svg/icons/form-wizard-personal.svg#wizardPersonal"></use>
                                </svg>
                            </span>
                            <span class="bs-stepper-label">اطلاعات شخصی</span>
                        </button>
                    </div>
                    <div class="line">
                        <i class="ti ti-chevron-right"></i>
                    </div>
                    <div class="step" data-target="#address">
                        <button class="step-trigger" type="button" aria-selected="false">
                            <span class="bs-stepper-icon">
                                <svg viewBox="0 0 54 54">
                                    <use xlink:href="/svg/icons/form-wizard-address.svg#wizardAddress"></use>
                                </svg>
                            </span>
                            <span class="bs-stepper-label">آدرس</span>
                        </button>
                    </div>
                    <div class="line">
                        <i class="ti ti-chevron-right"></i>
                    </div>
                    <div class="step" data-target="#social-links">
                        <button class="step-trigger" type="button" aria-selected="false">
                            <span class="bs-stepper-icon">
                                <svg viewBox="0 0 54 54">
                                    <use xlink:href="/svg/icons/form-wizard-social-link.svg#wizardSocialLink"></use>
                                </svg>
                            </span>
                            <span class="bs-stepper-label">شبکه‌های اجتماعی</span>
                        </button>
                    </div>
                    <div class="line">
                        <i class="ti ti-chevron-right"></i>
                    </div>
                    <div class="step" data-target="#review-submit">
                        <button class="step-trigger" type="button" aria-selected="false">
                            <span class="bs-stepper-icon">
                                <svg viewBox="0 0 54 54">
                                    <use xlink:href="/svg/icons/form-wizard-submit.svg#wizardSubmit"></use>
                                </svg>
                            </span>
                            <span class="bs-stepper-label">بررسی و ارسال</span>
                        </button>
                    </div>
                </div>
                <div class="bs-stepper-content">
                    <form onsubmit="return false">
                        <!-- Account Details -->
                        <div class="content active dstepper-block" id="account-details">
                            <div class="content-header mb-3">
                                <h6 class="mb-0">جزئیات حساب</h6>
                                <small>جزئیات حساب خود را وارد کنید</small>
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label class="form-label" for="username">نام کاربری</label>
                                    <input class="form-control" id="username" placeholder="نـوید" type="text">
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="email">ایمیل</label>
                                    <input aria-label="soheil.n" class="form-control" id="email" placeholder="john.doe@email.com" type="email">
                                </div>
                                <div class="col-sm-6 form-password-toggle">
                                    <label class="form-label" for="password">کلمه عبور</label>
                                    <div class="input-group input-group-merge">
                                        <input aria-describedby="password2" class="form-control" id="password" placeholder="············" type="password">
                                        <span class="input-group-text cursor-pointer" id="password2">
                                            <i class="ti ti-eye-off"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-6 form-password-toggle">
                                    <label class="form-label" for="confirm-password">تایید کلمه عبور</label>
                                    <div class="input-group input-group-merge">
                                        <input aria-describedby="confirm-password2" class="form-control" id="confirm-password" placeholder="············" type="password">
                                        <span class="input-group-text cursor-pointer" id="confirm-password2">
                                            <i class="ti ti-eye-off"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-label-secondary btn-prev waves-effect" disabled="">
                                        <i class="ti ti-arrow-left me-sm-1"></i>
                                        <span class="align-middle d-sm-inline-block d-none">قبلی</span>
                                    </button>
                                    <button class="btn btn-primary btn-next waves-effect waves-light">
                                        <span class="align-middle d-sm-inline-block d-none me-sm-1">بعدی</span>
                                        <i class="ti ti-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Personal Info -->
                        <div class="content" id="personal-info">
                            <div class="content-header mb-3">
                                <h6 class="mb-0">اطلاعات شخصی</h6>
                                <small>اطلاعات شخصی خود را وارد کنید</small>
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label class="form-label" for="first-name">نام کوچک</label>
                                    <input class="form-control" id="first-name" placeholder="امیر" type="text">
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="last-name">نام خانوادگی</label>
                                    <input class="form-control" id="last-name" placeholder="مقصودلو" type="text">
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="country">کشور</label>
                                    <div class="position-relative">
                                        <select class="select2 select2-hidden-accessible" id="country" data-select2-id="country" tabindex="-1" aria-hidden="true">
                                            <option label=" " data-select2-id="2"></option>
                                            <option>انگلستان</option>
                                            <option>ایران</option>
                                            <option>اسپانیا</option>
                                            <option>فرانسه</option>
                                            <option>ایتالیا</option>
                                            <option>استرالیا</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="rtl" data-select2-id="1" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-country-container"><span class="select2-selection__rendered" id="select2-country-container" role="textbox" aria-readonly="true"><span class="select2-selection__placeholder">انتخاب کنید</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="language">زبان</label>
                                    <div class="dropdown bootstrap-select show-tick w-auto">
                                        <select class="selectpicker w-auto" data-icon-base="ti" data-style="btn-transparent" data-tick-icon="ti-check text-white" id="language" multiple="">
                                            <option>انگلیسی</option>
                                            <option>فرانسوی</option>
                                            <option>اسپانیایی</option>
                                        </select><button type="button" tabindex="-1" class="btn dropdown-toggle bs-placeholder btn-transparent" data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-1" aria-haspopup="listbox" aria-expanded="false" title="موردی انتخاب نشده است" data-id="language"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">موردی انتخاب نشده است</div></div> </div></button><div class="dropdown-menu "><div class="inner show" role="listbox" id="bs-select-1" tabindex="-1" aria-multiselectable="true"><ul class="dropdown-menu inner show" role="presentation"></ul></div></div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-label-secondary btn-prev waves-effect">
                                        <i class="ti ti-arrow-left me-sm-1"></i>
                                        <span class="align-middle d-sm-inline-block d-none">قبلی</span>
                                    </button>
                                    <button class="btn btn-primary btn-next waves-effect waves-light">
                                        <span class="align-middle d-sm-inline-block d-none me-sm-1">بعدی</span>
                                        <i class="ti ti-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Address -->
                        <div class="content" id="address">
                            <div class="content-header mb-3">
                                <h6 class="mb-0">آدرس</h6>
                                <small>آدرس خود را وارد کنید</small>
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label class="form-label" for="address-input">آدرس</label>
                                    <input class="form-control" id="address-input" placeholder="ایران ، اصفهان ، میدان نقش جهان ، پلاک 1" type="text">
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="landmark">راهنما</label>
                                    <input class="form-control" id="landmark" placeholder="روبرو نانوایی" type="text">
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="pincode">کد پستی</label>
                                    <input class="form-control" id="pincode" placeholder="658921" type="text">
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="city">شهر</label>
                                    <input class="form-control" id="city" placeholder="بابلسر" type="text">
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-label-secondary btn-prev waves-effect">
                                        <i class="ti ti-arrow-left me-sm-1"></i>
                                        <span class="align-middle d-sm-inline-block d-none">قبلی</span>
                                    </button>
                                    <button class="btn btn-primary btn-next waves-effect waves-light">
                                        <span class="align-middle d-sm-inline-block d-none me-sm-1">بعدی</span>
                                        <i class="ti ti-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Social Links -->
                        <div class="content" id="social-links">
                            <div class="content-header mb-3">
                                <h6 class="mb-0">شبکه‌های اجتماعی</h6>
                                <small>لینک های اجتماعی خود را وارد کنید</small>
                            </div>
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label class="form-label" for="twitter">توییتر</label>
                                    <input class="form-control ltr" id="twitter" placeholder="https://twitter.com/abc" type="text">
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="facebook">فیس بوک</label>
                                    <input class="form-control ltr" id="facebook" placeholder="https://facebook.com/abc" type="text">
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="google">گوگل+</label>
                                    <input class="form-control ltr" id="google" placeholder="https://plus.google.com/abc" type="text">
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label" for="linkedin">لینکدین</label>
                                    <input class="form-control ltr" id="linkedin" placeholder="https://linkedin.com/abc" type="text">
                                </div>
                                <div class="col-12 d-flex justify-content-between">
                                    <button class="btn btn-label-secondary btn-prev waves-effect">
                                        <i class="ti ti-arrow-left me-sm-1"></i>
                                        <span class="align-middle d-sm-inline-block d-none">قبلی</span>
                                    </button>
                                    <button class="btn btn-primary btn-next waves-effect waves-light">
                                        <span class="align-middle d-sm-inline-block d-none me-sm-1">بعدی</span>
                                        <i class="ti ti-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Review -->
                        <div class="content" id="review-submit">
                            <p class="fw-medium mb-2">حساب</p>
                            <ul class="list-unstyled fw-normal">
                                <li>نام کاربری : Soheil</li>
                                <li>ایمیل : exampl@email.com</li>
                            </ul>
                            <hr>
                            <p class="fw-medium mb-2">اطلاعات شخصی</p>
                            <ul class="list-unstyled fw-normal">
                                <li>نام کوچک : یاسر</li>
                                <li>نام خانوادگی : بختیاری</li>
                                <li>کشور : ایران</li>
                                <li>زبان : فارسی</li>
                            </ul>
                            <hr>
                            <p class="fw-medium mb-2">آدرس</p>
                            <ul class="list-unstyled fw-normal">
                                <li>آدرس : ایران ، اصفهان ، کاشان ، خیابان امیرکبیر</li>
                                <li>راهنما : روبرو باشگاه بدنسازی</li>
                                <li>کد پستی : 1234567890</li>
                                <li>شهر : کاشان</li>
                            </ul>
                            <hr>
                            <p class="fw-medium mb-2">شبکه‌های اجتماعی</p>
                            <ul class="list-unstyled fw-normal">
                                <li>https://twitter.com/abc</li>
                                <li>https://facebook.com/abc</li>
                                <li>https://plus.google.com/abc</li>
                                <li>https://linkedin.com/abc</li>
                            </ul>
                            <div class="col-12 d-flex justify-content-between">
                                <button class="btn btn-label-secondary btn-prev waves-effect">
                                    <i class="ti ti-arrow-left me-sm-1"></i>
                                    <span class="align-middle d-sm-inline-block d-none">قبلی</span>
                                </button>
                                <button class="btn btn-success btn-submit waves-effect waves-light">ارسال</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </section>


    <!-- Hero: End -->
    <!-- Contact Us: Start -->
    <section id="landingContact" class="section-py bg-body landing-contact">
        <div class="container">
            <div class="text-center mb-3 pb-1">
                <span class="badge bg-label-primary">ارتباط با ما</span>
            </div>
            <h3 class="text-center mb-3 fw-medium">
                <span class="position-relative fw-bold z-1 section-title">
                    ارتباط مستقیم با تیم ما
                </span>

            </h3>
            <p class="text-center mb-4 mb-lg-5 pb-md-3">هر سوال یا نکته ای؟ فقط برای ما این پایین بنویس</p>
            <div class="row gy-4">
                <div class="col-lg-5">
                    <div class="contact-img-box position-relative border p-2 h-100">
                        <img src="~/img/front-pages/icons/contact-border.png" alt="contact border" class="contact-border-img position-absolute d-none d-md-block scaleX-n1-rtl" />
                        <img src="~/img/front-pages/landing-page/contact-customer-service.png" alt="contact customer service" class="contact-img w-100 scaleX-n1-rtl" />
                        <div class="pt-3 px-4 pb-1">
                            <div class="row gy-3 gx-md-4">
                                <div class="col-md-6 col-lg-12 col-xl-6">
                                    <div class="d-flex align-items-center">
                                        <div class="badge bg-label-primary rounded p-2 me-2"><i class="ti ti-mail ti-sm"></i></div>
                                        <div>
                                            <p class="mb-1">ایمیل</p>
                                            <h5 class="mb-0">
                                                <a href="mailto:example@gmail.com" class="text-heading">example@gmail.com</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-12 col-xl-6">
                                    <div class="d-flex align-items-center">
                                        <div class="badge bg-label-success rounded p-2 me-2">
                                            <i class="ti ti-phone-call ti-sm"></i>
                                        </div>
                                        <div>
                                            <p class="mb-1">تلفن</p>
                                            <h5 class="mb-0"><a href="tel:+1234-568-963" class="text-heading">+1234 568 963</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-2">ارتباط با ما</h4>
                            <p class="mb-4">
                                اگر صحبتی با ما دارید لطفا در باکس زیر بنویسید مثل انتقادات و پیشنهادات ، همکاری،
                                <br class="d-none d-lg-block" />
                                شراکت، و ... ما در خدمت شما هستیم.
                            </p>
                            <form>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label" for="contact-form-fullname">نام و نام خانوادگی</label>
                                        <input class="form-control" id="contact-form-fullname" placeholder="امیر" type="text" />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="contact-form-email">ایمیل</label>
                                        <input class="form-control" id="contact-form-email" placeholder="johndoe@gmail.com" type="text" />
                                    </div>
                                    <div class="col-12">
                                        <label class="form-label" for="contact-form-message">پیام</label>
                                        <textarea class="form-control" id="contact-form-message" placeholder="پیام خود را بنویسید" rows="8"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary" type="submit">ارسال پیام</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us: End -->
</div>




<!-- Core Scripts -->
@await Html.PartialAsync("Layouts/Sections/_Scripts" + ViewData["frontVar"])

<!-- Vendor Scripts -->


<script src='~/js/@ViewData["main"]main.dist.js'></script>