@page
@using Car_Inspection.EndPoint.Razor.Pages.LayoutExamples
@model Car_Inspection.EndPoint.Razor.Pages.LayoutExamples.BlankModel
@{
  ViewData["Title"] = "طرح صفحه خالی";
  Layout = "Layouts/_BlankLayout";
}
@* ************** Content ************** *@

  <h4 class="p-4">صفحه خالی</h4>
